body {
    font-family: Georgia;
    background: aliceblue;
}

header {
    background: #A00037;
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 3px;
}

main {
    width: 70%;
    float: left;
}

button {
    background: #D81B60;
    color: white;
    padding: 15px;
    margin: 20px;
    width: 100%;
}

main > section {
    display: none;
}

footer {
    float: right;
    background: #D81B60;
    color: white;
    width: 20%;
    padding: 5px;
    margin: 10px;
    box-shadow: 15px 15px 12px dimgray;
}

h5, p.cytat {
    font-style: italic;
    text-align: center;
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

table {
    margin: auto;
    width: 95%;
    border: 1px solid aliceblue;
}